h1{
  background-color: #A0E2FF;
}
img{
  width: 500px;
  height: 250;
  margin: 38px 38px 38px 38px;
}
h5{
  font-family: Courier New;
}
p{
  font-family: Gabriola;
}
h2{
  font-family: Lucida Console;
}